/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a{
    text-decoration: none;
    color: black;
 }

 .title{
     font-size: 30px;
     padding-bottom: 10px;
 }

 header{
    border-bottom: 1px solid black;
 }

 .container{
     width: 95%;
     margin: 0 auto;
 }


.header_img{
    width:45px;
    height:45px;
    border-radius: 100px;
    object-fit: cover;
}

input{
    margin-top: 7px;
}

textarea{
    margin-top: 7px;
}

h1{
    font-weight: lighter;
}