#user_email{
 width: 100%;
 background-color: #EEEEEE;
 border:none;
 border-radius: 5px;
 height:30px;
 margin-bottom: 20px;
}

#user_password{
 width: 100%;
 background-color: #EEEEEE;
 border:none;
 border-radius: 5px;
 height: 30px;
 margin-bottom: 20px;
}

#user_password_confirmation{
 width: 100%;
 background-color: #EEEEEE;
 border:none;
 border-radius: 5px;
 height: 30px;
 margin-bottom: 20px;
}


